<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to 99 Cats, <%= @user.username %></h1>
    <p>
      You have successfully signed up to 99 Cats!
      <br />
    </p>
    <p>Thanks for joining and enjoy the cats.</p>
    <a href="<%=cats_url%>">Click here to start!</a></p>
  </body>
</html>